@import '~bootstrap/scss/bootstrap';

$font-color: $light;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: 10px;
}

h1 {
  text-align: center;
}

.box {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  height: 80px;
  justify-content: center;
}

.box:hover {
  opacity: .5;
  }

.container {
  display: flex;
  flex-wrap: wrap;
  height: 72vh;
  width: 72vh;
}

.row {
  justify-content: center;
}

.container,
#signOut,
#changePW,
#newGame,
#gameCount {
  display: none;
}

#message {
  text-align: center;
}

#gameCount {
  margin: 20px 0;
}
